<template>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown dropdown-notifications">
          <a href="#notifications-panel" class="dropdown-toggle" data-toggle="dropdown">
            <i :data-count="unread" class="glyphicon glyphicon-bell notification-icon"></i>
          </a>

          <div class="dropdown-container">

            <div class="dropdown-toolbar">
              <div class="dropdown-toolbar-actions">
                <a href="#">Mark all as read</a>
              </div>
              <h3 class="dropdown-toolbar-title">
                Notifications ({{ notifications.length }})
              </h3>
            </div><!-- /dropdown-toolbar -->

            <ul class="notifications dropdown-menu">
              <li class="notification" v-for="notification in notifications"
                  :class="{ active : notification.read_at }">
                  <div class="media">
                    <div class="media-body">
                      <strong class="notification-title">
                      <a :href="'/users/' + notification.data.user_id">
                          {{ notification.data.user_name }}
                      </a>
                      <span v-if="notification.type === 'App\\Notifications\\SubscribersCommentNotification'">
                          comentó un post que estás siguiendo
                      </span>
                      <span v-if="notification.type === 'App\\Notifications\\PostCommentNotification'">
                          comentó tu post
                      </span>
                      <a :href="'/posts/' + notification.data.post_id">
                          {{ notification.data.post_title }}
                      </a>
                      </strong>
                      <div class="notification-meta">
                        <small class="timestamp">
                            {{ notification.created_at_format }}
                        </small>
                      </div>
                    </div>
                  </div>
              </li>
            </ul>

            <div class="dropdown-footer text-center">
              <a href="#">View All</a>
            </div><!-- /dropdown-footer -->

          </div><!-- /dropdown-container -->
        </li><!-- /dropdown -->
      </ul>
    </div>
</template>

<script>
    export default {
        props: ['user_id'],
        data() {
            return {
                notifications: [],
                unread: 0
            }
        },
        created() {
            this.getNotifications(),
            this.listenNotifications()
        },
        methods: {
            getNotifications() {
                axios.get(`/api/notifications`)
                  .then(response => {
                    this.notifications = response.data
                    //Contando notificaciones NO leidas
                    this.unread = _.filter(response.data, { 'read_at' : null }).length;
                  })
                  .catch(function (error) {
                    alert('OCURRIO ALGUN ERROR')
                  });
            },
            //Suscribirnos al canal privado
            //Al namespace del canal pasarle el ID del usuario
            //Escuchar las notificaciones
            //Trabajar cada notificacion
            listenNotifications() {
                Echo.private(`App.User.${this.user_id}`)
                    .notification((notification) => {
                      document.getElementById("myAudio").play()
                       this.notifications.unshift(notification)
                       this.unread += 1
                    });
            }
        }
    }
</script>
