<template>
    <div>
        <div class="modal fade" id="modal-id">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Usuarios activos</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li v-for="user in users">
                                {{ user.name }}
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="well">
            <h4>
                <i class="fa fa-paper-plane-o"></i> Deja un comentario:
            </h4>
            <form role="form" v-on:submit.prevent="saveComment()">
                <div class="form-group">
                    <textarea class="form-control" v-model="comment" name="comment" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-reply"></i> Guardar
                </button>
                <a class="btn btn-default" data-toggle="modal" href='#modal-id'>
                    Ver usuarios activos
                </a>
            </form>
        </div>
        <hr>
        <div style="margin-bottom: 2em"
            v-for="comment in comments">
            <h4>
                <i class="fa fa-comment"></i>
                {{ comment.user.name }}
                <small> {{ comment.created_at_ago }}</small>
            </h4>
            <p>
                {{ comment.comment }}
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['post_id'],
        data() {
            return {
                comment: 'Soy un comentario',
                comments: [],
                users: []
            }
        },
        created() {
            this.getComments(),
            this.listenComments()
        },
        methods: {
            saveComment() {
                axios.post('/api/posts/'+ this.post_id +'/comment', {
                    comment: this.comment
                  })
                  .then(response => {
                    this.comment = ''
                    this.comments.unshift(response.data)
                    alert('El comentario se guardó')
                  })
                  .catch(function (error) {
                    alert('El comentario no se guardó')
                  });
            },
            getComments() {
                axios.get(`/api/posts/${this.post_id}/comments`)
                  .then(response => {
                        this.comments = response.data.comments
                  })
                  .catch(function (error) {
                    alert('No se cargaron los comentarios')
                  });
            },
            listenComments() {
                Echo.join(`post-presence-${this.post_id}`)
                    .here((users) => {
                        this.users = users
                        //Podemos obtener a TODOS los usuarios que están unidos al canal de presencia
                    })
                    .joining((user) => {
                        this.users.push(user)
                        //Función que se ejecuta cuando el usuario se une al canal
                    })
                    .leaving((user) => {
                        this.users.splice(this.users.indexOf(user.id));
                        //Función que se ejecuta cuando el usuario abandona el canal
                    })
                    .listen('\\App\\Events\\PostPresenceEvent', (e) => {
                        console.log(e);
                        //Vamos a crear un nuevo objeto de javascript, en donde vamos a definir la información exacta para poder hacer unshift del nuevo comentario a la propiedad comments
                        let newComment = {
                            'comment': e.comment,
                            'created_at_ago': e.created_at_ago,
                            'user': {
                                'name': e.user.name
                            }
                        }
                        this.comments.unshift(newComment)
                        //El evento que escuchan los usuarios que están unidos al canal
                    });
            }
        }
    }
</script>
